@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
//    Font Family
$primary-font: 'Open Sans', sans-serif;

/* ========== GLOBAL VAARIABLE ========== */

$body-font-size: 14px;

$body-font-color: #444;
$body-font: 'Open Sans', sans-serif;

/*========== Color variations ==========*/

$bg--light: #FAFAFA;
$bg--dark: #000000;
$header--light: #EFEFEF;
$header--dark: #000000;
$header2--light: #ffffff;
$header2--dark: #1C2226;
$bg--card--light: #ffffff;
$bg--card--dark: #1C2226;
$text--light: #444444;
$text--dark: #ffffff;
$text--2--light: #000000;
$text--2--dark: #ffffff;
$text--imp--light: #3B3B38;
$text--imp--dark: #ffffff;
$border--light: #BDBDBD;
$border--dark: #BDBDBD;
$card--border--light: #D8D8D8;
$card--border--dark: #1C2226;
$tag--bg--light: #F6F7F9;
$tag--bg--dark: #2A3136;

/*---===[ Brand Colors ]===---*/
$primary-color: #ffbe26;
$secondary-color: #7a7979;

/*---===[ State Colors ]===---*/
$info-color: #2F80ED;
$success-color: #27AE60;
$warning-color: #E2B93B;
$error-color: #EB5757;

/*---===[ Black Colors ]===---*/
$black-color: #000000;
$black-color2: #1D1D1D;
$black-color3: #282828;
$white-color: #FFFFFF;

/*---===[ Grey Colors ]===---*/
$grey-color1: #333333;
$grey-color2: #4F4F4F;
$grey-color3: #828282;
$grey-color4: #BDBDBD;
$grey-color5: #E0E0E0;

/*---===[ Button Colors ]===---*/
$button-blue: #19ACDA;
$button-red: #FF0000;
$button-green: #00AB63;
$button-disable: #EAEAEA;